node_modules
.pnpm-store
.DS_Store
dist
dist-ssr
*.local
.env*
.dev.vars*
!.env.example
.nitro
.tanstack
.wrangler
.playwright/
playwright-report/
test-results/
.output
.vinxi
__unconfig*
todos.json
!.vscode/
!.vscode/settings.json
!.vscode/extensions.json
